.score p {
  font-size: 3rem;
  margin: 0px;
  border-bottom: 1px solid;
  text-align: center;
}
.score label {
  font-variant: all-small-caps;
  text-align: center;
}
.score {
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.scores {
  display: flex;
  justify-content: center;
}