body {
  margin: 0;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232531;
  color: #cfcfd1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  color:#fff;
  font-weight: 500;
  line-height: 1.2;
  font-family: roboto mono,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-size: 2rem;
  letter-spacing: 2px;
}

.text-primary {
  color: #ff5733!important;
}

.site-section-heading {
  position: relative;
  font-weight: 500;
  line-height: 1.2;
}

.site-section-heading h2:after {
  content: "";
  left: 0%;
  bottom: -15px;
  position: absolute;
  width: 100px;
  height: 2px;
  background:-webkit-gradient(linear,left top,right top,from(#c70039),color-stop(70%,#ff5733));
  background: -webkit-linear-gradient(left,#c70039,#ff5733 70%);
  background: -o-linear-gradient(left,#c70039,#ff5733 70%);
  background:linear-gradient(to right,#c70039,#ff5733 70%);
}